@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Shopping oie<br /><br /></h3>
        <img width="244px" src="/images/ShopImage.jpeg" class="img-fluid" asp-append-version="true" />
</div>
